<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <img class="resize" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/2ffe6e43813015.56075a9655916.png" alt="globe" />
      </div>
      <div class="col-4 site_name">
        <span class="title">A JOURNEY OF A THOUSAND MILES . . .<br></span>
        <span class="slogan">Wisdom from those who dare to wander far and wide.</span>
      </div>
      </div>
      <div class="col-5 links">
        <%= link_to 'Contribute', '#' %>
        <%= link_to 'About', '#' %>
      </div>
    </header>
    
    <hr />
    
    <br class="clear" />
    
    <%= yield %>
    
  </body>
</html>
