<!DOCTYPE html>
<html>
  <head>
    <title>SplurtyAbroad</title>
    <%= csrf_meta_tags %>
    
    <!--Favicon located in the app/public folder. Just change the name of the file to 'favicon' and rails will do the rest.-->
    <link rel="shortcut icon" type="image/png" href="/favicon.png" sizes="32x32" />

    <%= stylesheet_link_tag    "application", media: "all", "data-no-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "false" %>
    
    <script src="/app/assets/gmaps.js" type="text/javascript"></script>

  </head>
    
  <body>

    <div id="map-container">
    <div id="map"></div>

    <header class="row vcenter">
      <div class="col-3 col-sm-3">
        <%= link_to root_path, class: "logo" do %>
          <%= image_tag "plane_brad_woodard.png", class: "logo_image" %>
        <% end %>
      </div>
      
      <div class="col-5 col-sm-5 site_name">
        <span class="text">THE JOURNEY OF A THOUSAND MILES&nbsp;.&nbsp;.&nbsp;.<br /></span>
        <span class="hidden-xs-down slogan">Wisdom for those who dare to wander far and wide.</span>
      </div>
      
      <div class="col-3 offset-1 offset-sm-0 col-sm-4 text links">
        <%= link_to "Let\'s Go!", destination_path %><br />
        <!-- Button trigger modal -->
        <%= link_to "Add a Quote", "#", data: {toggle: "modal", target: "#myModal"} %><br />
        <!-- <%= link_to "Add a Quote", new_quote_path %><br>-->
        <%= link_to "About", about_path %>
      </div>
    </header>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Enter Your Favorite Travel Quote</h4>
          </div>
          <div class="modal-body">
            <%= simple_form_for Quote.new do |f| %>
              <%= f.input :saying, label: "Add your quote here", placeholder: "The journey of a thousand miles begins with a single step." %>
              <br />
              <%= f.input :author, label: "Who is the author of the quote?", placeholder: "Lao Tzu" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit "Create", class: "btn btn-danger" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    
    <div id="quote" class="container flex-grow between">
      <% if flash[:error].present? %>
        <div class="col-10 offset-1 alert alert-danger">
          <%= flash[:error].html_safe %>
        </div>
      <% end %>
      <%= yield %>
      
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 next-quote">
            <%= link_to "Need more inspiration to get out and explore?", root_path, class: "next-quote" %>
          </div>
        </div>  
        
        <div class="row">
          <div class="col-12 col-sm-12 footer-blurb float-right">
            Proudly hacked somewhere along I-95 by <a href="http://justinholt.getforge.io/index.html" target="_blank">JVH</a><br />
            Build your own Splurty Web App! <a href="http://thefirehoseproject.com" target="_blank">Learn how to code here.</a><br />
          </div>
        </div>
      </div>
    </footer>
  
  <!--div for map-container -->
  </div>
  
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWe6kg7iXYs11CUtWN5nsk0lFIHy0KRd4&v=3&libraries=places&callback=initAutocomplete"></script>

  </body>
  
</html>
